/*
COLOURS

pink #f9b4ab
light pink #ffc7bf
light yellow #fdebd3
navy #264e70
dark green #679186
mint green #bbd4ce
red #fc401e
*/

body {
  background-color: #f9b4ab;
  margin: 0;
  font-size: 16px;
  font-family: 'Coolvetica', sans-serif;
  font-weight: bold;
  color: #264e70;
  box-sizing: border-box;
}

body.home {
  animation-name: background;
  animation-duration: 3s;
}

@keyframes background {
  from {background-color: #ffd5cf;}
  to {background-color: #f9b4ab;}
}

/* Text styles */

h1 {
  font-size: 3rem;
  color: #fc401e;
  margin: 0;
}

h2 {
  font-size: 5rem;
  margin: 0;
  letter-spacing: 3px;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.5rem;
  margin: 0;
  color: #fc401e;
  letter-spacing: 1px;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

p {
  margin: 5px 0;
}

span {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.3;
}

/* Font rules */

.nolink {
  text-decoration: none;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 1.4px #fc401e;
  animation-name: outline;
  animation-duration: 3s;
}

@keyframes outline {
  from {color: #fc401e;}
  to {background-color: #f9b4ab;}
}

#nooutline {
  -webkit-text-stroke: 0px #fc401e;
}

img.circle {
  display: none;
  width: 25%;
  margin: 1rem auto;
}

/* Nav */

nav {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

nav#mobile {
  display: none;
}

nav h1 {
  -webkit-text-stroke: 1.4px #fc401e;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 40px;
  font-weight: bold;
}

nav a {
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.5rem;
  color: #264e70;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

nav a:hover {
  color: #fc401e;
}

/* Header landing page */

header {
  display: inline-flex;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-text {
  width: 55%;
}

header a {
  color: transparent;
  -webkit-text-stroke: 1.8px #fc401e;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

header a:hover {
  color: #fc401e;
  -webkit-text-stroke: none;
}

.header-media {
  width: 30%;
}

header img {
  width: 100%;
}

/* Work */

.work-mobile {
  display: none;
}

.flex-content {
  display: flex;
  padding: 30px;
}

.flex-row {
  flex-direction: column;
  flex-basis: 50%;
  padding: 10px;
}

.flex-box {
  margin-bottom: 30px;
  background-color: #ffc7bf;
  padding: 0px;
}

.flex-box:hover {
  cursor: ;
}

.flex-box img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.flex-box img:hover {
  opacity: 0.8;
}

.box-text {
  padding: 20px 10px 20px 20px;
}

/* About */

.about-flex {
  display: inline-flex;
  padding: 40px;
}

.media-container {
  width: 45%;
}

.media-container img {
  width: 100%;
  height: auto;
}

.about-container {
  width: 40%;
  margin-left: 50px;
}

.about-container a {
  text-decoration: none;
  color: #fc401e;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  font-size: 1.8rem;
  font-weight: normal;
}

.about-container a:hover {
  color: #264e70;
  text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 500px) {

  nav#mobile {
    display: block;
    text-align:center;
    padding: 30px 0 16px 0;
  }

  nav#web {
    display: none;
  }

  nav a {
    font-size: 2rem;
  }

  nav ul {
    margin: 1rem;
    display: inline-table;
  }

  nav li {
    padding: 0;
    margin: 0 1rem;
  }

  nav h1 {
    margin: 0rem;
  }

  img.circle {
    display: block;
    width: 25%;
    margin: 1rem auto;
  }

  header {
    padding: 1rem;
    width: 92%;
    margin: 0 0 3rem 0;
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  .header-text {
    width: 100%;
    text-align: center;
  }

  .header-media {
    display: none;
  }

  .work-mobile {
    display: contents;
  }

  .flex-content {
    display: none;
  }

  .about-flex {
    padding: 1.5rem;
    justify-content: center;
  }

  .media-container {
    display: none;
  }

  .about-container {
    width: 90%;
    margin: 0;
  }

  .about-container a {
    font-size: 1.8rem;
    font-weight: normal;
  }

  .about-container span {
    font-size: 2rem;
  }

}
